// Graffiti fonts
@font-face {
  font-family: 'A Another Tag';
  src: url('../assets/fonts/aAnotherTag.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Street Wars';
  src: url('../assets/fonts/Street Wars Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mostwasted';
  src: url('../assets/fonts/Mostwasted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jraot Hollow';
  src: url('../assets/fonts/Jraot-Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Docallisme on Street';
  src: url('../assets/fonts/DOCALLISME ON STREET.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A Dripping Marker';
  src: url('../assets/fonts/adrip1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DropShade-Melt';
  src: url('../assets/fonts/DropShade-Melt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FankyBubbleGraffiti-Line';
  src: url('../assets/fonts/FankyBubbleGraffiti-Line.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ghoust Solid';
  src: url('../assets/fonts/Ghoust Solid.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graffiti Treat';
  src: url('../assets/fonts/Graffiti Treat.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GraffitiNewDemoRegular';
  src: url('../assets/fonts/GraffitiNewDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kortz DEMO';
  src: url('../assets/fonts/Kortz DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MARKER-NO2HUN';
  src: url('../assets/fonts/MARKER-NO2HUN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MARSNEVENEKSK-Regular';
  src: url('../assets/fonts/MARSNEVENEKSK-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mersey Cowboy';
  src: url('../assets/fonts/Mersey Cowboy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'More Than Life';
  src: url('../assets/fonts/More Than Life.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NightclawVandalReg-Solid';
  src: url('../assets/fonts/NightclawVandalReg-Solid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'No_License_Ghang';
  src: url('../assets/fonts/No_License_Ghang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NoctraDrip-SolidMelt';
  src: url('../assets/fonts/NoctraDrip-SolidMelt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ONE PIECE';
  src: url('../assets/fonts/ONE PIECE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Painterz';
  src: url('../assets/fonts/Painterz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rebeland Regular';
  src: url('../assets/fonts/Rebeland Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RockerRusher';
  src: url('../assets/fonts/RockerRusher.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RollbeatGraffiti';
  src: url('../assets/fonts/RollbeatGraffiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SoachaLetterFont-Regular';
  src: url('../assets/fonts/SoachaLetterFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spoken_PERSONAL';
  src: url('../assets/fonts/Spoken_PERSONAL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Step Better';
  src: url('../assets/fonts/Step Better.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StreetartDemoRegular';
  src: url('../assets/fonts/StreetartDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'THE_JACATRA';
  src: url('../assets/fonts/THE_JACATRA.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Throw-up Font';
  src: url('../assets/fonts/Throw-up Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UrbanSketart';
  src: url('../assets/fonts/UrbanSketart.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aAttackGraffiti';
  src: url('../assets/fonts/aAttackGraffiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bboy';
  src: url('../assets/fonts/bboy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'graffonti.atomic.bomb';
  src: url('../assets/fonts/graffonti.atomic.bomb.[fontvir.us].ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sickcapital-vice';
  src: url('../assets/fonts/sickcapital-vice.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'variables';
@import 'mixins';
@import 'reset';