// Graffiti fonts
@font-face {
  font-family: 'Sister Spray';
  src: url('../assets/fonts/Sister Spray.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Next Ups';
  src: url('../assets/fonts/Next Ups.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A Another Tag';
  src: url('../assets/fonts/aAnotherTag.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Street Wars';
  src: url('../assets/fonts/Street Wars Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mostwasted';
  src: url('../assets/fonts/Mostwasted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jraot Hollow';
  src: url('../assets/fonts/Jraot-Hollow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Docallisme on Street';
  src: url('../assets/fonts/DOCALLISME ON STREET.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'A Dripping Marker';
  src: url('../assets/fonts/adrip1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import 'variables';
@import 'mixins';
@import 'reset';